* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

html {
    font-family: "Lucida Sans", sans-serif;
}
.header {
    height: 100px;
}
.type-hit {
    padding-top: 35px;
    padding-right: 20px;
    height: 100px;
    text-align: right;
}
.search-bar input[type=text] {
    padding: 10px;
    border: 1px solid black;
    margin-top: 30px;
    float: left;
    width: 60%;
}
.logo {
    height: 100px;
    background: url('http://imageshack.com/a/img923/7577/BBFEsH.png') no-repeat;
    background-size: 100% 100%;
}
.video1 {
    height: 200px;
    background-image: url('http://imageshack.com/a/img924/7607/jzuWMY.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 50px;
}
.footer {
    text-align: center;
    padding: 15px;
}